body{
    display: flex;
    flex-direction: column;
}
.heading{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.buttons-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}
#rock{
    flex-shrink: 1;
    background: rgba(165, 42, 42, 0.555);
}
#paper{
    flex-shrink: 2;
    color: green;
}
#scissors{
    flex-shrink: 3;
    background: lightblue;
    color: black;
}
.results-container{
    margin: 30px;
    background: pink;
    border-radius: 10px;
    text-align: center;
    font-size: larger;
}
.scorecard-container{
    display: flex;
    flex-direction: column;
    margin: 30px;
    border-radius: 10px;
    border: coral solid 3px;
}
.names,.scorecard{
    display: flex;
    text-align: center;
}
.item{
    flex: 1;
    border: black solid 1px;
    background: cyan;
}
button{
    border: greenyellow solid 1px;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    font-size: 18px;
}
.choice-text{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}
.names{
    color: red;
    font-weight: 800;
    font-size: 24px;
}
.scorecard{
    color:blue;
    font-size: 20px;
}
.choices{
    padding:10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 30px;
    border: solid 3px rebeccapurple;
    background-color:burlywood ;
}
