.heading{
    text-align: center;
}
.buttons-container{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}
#rock{
    background: rgba(165, 42, 42, 0.555);
    color: black;
}
#paper{
    color: black;
}
#scissors{
    background: lightblue;
    color: black;
}
.results-container{
    background: pink;
}
.scorecard-container{
    margin-top: 20px;
}
.names,.scorecard{
    display: flex;
}
.item{
    flex: 1;
    border: black solid 1px;
    background: cyan;
}
